/* loginStyles.module.css */
.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .signup_form_container {
    display: flex;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .left,
  .right {
    flex: 1;
    padding: 40px;
  }
  
  .form_container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .error_msg {
    color: #ff0000;
    margin-bottom: 15px;
  }
  
  .green_btn {
    background-color: #2d2e30;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .green_btn:hover {
    background-color: #c6a6a6;
  }
  
  .white_btn {
    background-color: #2d2e30;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .white_btn:hover {
    background-color: #c6a6a6;
  }
  